@charset "UTF-8";
@media screen and (min-width: 767px) {
  * {
    background-color: #f5f5f8;
  }

  .header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    background-color: #ffffff;
  }
  .header .header_img {
    width: 200px;
    height: 54px;
    margin-left: 40px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header .header_text {
    font-size: 13px;
    color: #bcd2e1;
    margin-left: 20px;
  }
  .header .header_button {
    width: 250px;
    height: 44px;
    text-align: center;
    border-radius: 27px;
    background: linear-gradient(to right, #0f72bd, #3ccefe);
    color: #ffffff;
    margin: 0 40px 0 auto;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 20px;
         column-gap: 20px;
    -moz-column-count: 2;
         column-count: 2;
    flex-direction: row;
    width: 100%;
  }
  .container .column1 {
    width: 45%;
    margin-left: 40px;
  }
  .container .column1 .wrapper1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .container .column1 .wrapper1 .item_contents {
    width: calc((100% - 40px) / 3);
    margin: 20px 0px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
    background-color: #ffffff;
  }
  .container .column1 .wrapper1 .item_contents .item_label {
    color: #217bc0;
    font-size: 16px;
    font-weight: bold;
    line-height: 3;
    border-radius: 20px 10px 0px 0px;
    background-color: #ffffff;
  }
  .container .column1 .wrapper1 .item_contents .item_number {
    color: #111111;
    font-size: 32px;
    font-weight: bold;
    background-color: #ffffff;
  }
  .container .column1 .wrapper1 .item_contents .item_hour {
    color: #99bad2;
    font-size: 16px;
    font-weight: bold;
    line-height: 3;
    background-color: #ffffff;
  }
  .container .column1 .wrapper2 .bar_graph {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
  }
  .container .column2 {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 20px;
         column-gap: 20px;
    -moz-column-count: 2;
         column-count: 2;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px;
  }
  .container .column2 .circle_graph1 {
    width: calc((100% - 20px) / 2);
    background-color: #ffffff;
    border-radius: 10px;
  }
  .container .column2 .circle_graph1 .item_title {
    color: #111111;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
  }
  .container .column2 .circle_graph1 .item_graph {
    width: calc(100% - 20px);
    margin-bottom: 20px;
  }
  .container .column2 .circle_graph1 .lang {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #111111;
    font-size: 12px;
    line-height: 3;
  }
  .container .column2 .circle_graph1 .lang .lang_item::before {
    content: "・";
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 2px;
  }
  .container .column2 .circle_graph1 .lang .lang_js::before {
    background-color: #1754ef;
    color: #1754ef;
  }
  .container .column2 .circle_graph1 .lang .lang_css::before {
    background-color: #0f71bd;
    color: #0f71bd;
  }
  .container .column2 .circle_graph1 .lang .lang_php::before {
    background-color: #20bdde;
    color: #20bdde;
  }
  .container .column2 .circle_graph1 .lang .lang_html::before {
    background-color: #3ccefe;
    color: #3ccefe;
  }
  .container .column2 .circle_graph1 .lang .lang_lara::before {
    background-color: #b29ef3;
    color: #b29ef3;
  }
  .container .column2 .circle_graph1 .lang .lang_sql::before {
    background-color: #6d46ec;
    color: #6d46ec;
  }
  .container .column2 .circle_graph1 .lang .lang_shell::before {
    background-color: #4a17ef;
    color: #4a17ef;
  }
  .container .column2 .circle_graph1 .lang .lang_others::before {
    background-color: #3105c0;
    color: #3105c0;
  }
  .container .column2 .circle_graph2 {
    width: calc((100% - 20px) / 2);
    background-color: #ffffff;
    border-radius: 10px;
  }
  .container .column2 .circle_graph2 .item_title {
    color: #111111;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
  }
  .container .column2 .circle_graph2 .item_graph {
    width: calc(100% - 20px);
    margin-bottom: 20px;
  }
  .container .column2 .circle_graph2 .contents {
    color: #111111;
    font-size: 12px;
    line-height: 3;
  }
  .container .column2 .circle_graph2 .contents .content::before {
    content: "・";
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 2px;
  }
  .container .column2 .circle_graph2 .contents .content_dot::before {
    background-color: #1754ef;
    color: #1754ef;
  }
  .container .column2 .circle_graph2 .contents .content_nyobi::before {
    background-color: #0f71bd;
    color: #0f71bd;
  }
  .container .column2 .circle_graph2 .contents .content_posse::before {
    background-color: #20bdde;
    color: #20bdde;
  }

  .footer {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 3;
  }
  .footer .footer_left {
    color: #287fc2;
  }
  .footer .footer_date {
    margin: 0px 12px;
  }
  .footer .footer_right {
    color: #9dbdd3;
  }
}
/*# sourceMappingURL=top.css.map */